.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -50px;
}

.nav__links {
  display: flex;
  margin: 0px;
  padding: 0px;
  gap: 20px;
  list-style: none;
}

.nav__link {
  color: #000;
  text-decoration: none;
  font-weight: 500;
}

.nav__link:hover {
  color: #2f80ed;
  transition-duration: 1.3s;
}
